@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.contact {
  background: #e0e5ec;
  display: block;
  padding: 20px;
}

.form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background: #e0e5ec;
  border-radius: 10px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.area {
  background: #e0e5ec;
  height: 300px;
  width: -webkit-fill-available;
  border-radius: 5px;
  font: inherit;
  padding: 10px;
}

.message {
  padding: 20px;
  text-align: center;
  color: darkslategray;
  font-family: 'Montserrat', sans-serif;
}

.error {
  font-size: 14px;
  color: darkred;
}