.contact {
  background: #f4cbb2;
  display: block;
}

h1 {
  text-align: center;
}

.form {
  margin: auto;
  width: 60%;
}

.area {
  background: #f4cbb2;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  font: inherit;
}
