@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.contact {
  background: #f4cbb2;
  display: block;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.form {
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.area {
  background: #f4cbb2;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  font: inherit;
  padding: 10px;
}

.message {
  padding: 20px;
}

.error {
  font-size: 14px;
  color: darkred;
}
