.bio {
    display: flex;
    justify-content: center;
    background: aliceblue;
}

img {
    height: 200px;
    margin: 5px;
    border-color: white;
    border-radius: 50%;
    border-style: solid;
}

.profileDetails {
    flex-wrap: wrap;
    margin: 10px;
}

span {
    margin-left: inherit;
}