.bio {
  display: flex;
  justify-content: center;
  background: aliceblue;
  width: 100%;
  flex-wrap: wrap;
}

.img {
  height: 200px;
  width: 200px;
  border-color: white;
  border-radius: 50%;
  border-style: solid;
}

.profileDetails {
  flex-wrap: wrap;
  margin: 10px;
  width: 50%;
  text-align: inherit;
  padding: 15px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .profileDetails {
    width: 100%;
  }
}

span {
  margin-left: inherit;
}

.profile-avatar {
  width: 50%;
}

.about {
  text-align: left;
}

.profileAvatar {
  margin: auto;
}

.description {
  color: #182153;
}